.form {
    padding: 10px;
}
.input input {
    background-color: transparent;
    border: none;
    background-color: #09182c;
    padding: 25px 10px 5px 10px;
    color: white;
    border-radius: 10px;
    width: 100%;
}
.input input:focus,
.input input:focus-within,
.input input:focus-visible {
    outline: none;
}

.input {
    position: relative;
    width: 200px;
}
.input label {
    top: 5px;
    left: 10px;
    font-size: 10px;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
}

.heading {
    color: white;
}