/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

main {
    background-image: url('../assets/white-bg-image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.glass_matte_effect {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}
 */
